*{ 
  margin: 0px; 
  padding: 0px; 
  text-decoration: none; 
  list-style: none; 
  border:none;
  font-family: calibri, sans serif; 
}
h1{ font-size: 50px; }
h2{ font-size: 40px; font-weight: normal; }
h3{ font-size: 20px; font-weight: normal; }

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow:hidden;
}

#fundo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  z-index: 20;
  overflow:hidden;
}

#fechar{ 
  width:24px; 
  position: absolute;
  top: calc(14% - 20px);
  left: calc(86% - 10px);
  z-index: 35;
}

#caixaDeDialogo{
  position: absolute;
  width: 70%;
  height: 70%;
  left: calc(15% - 20px); 
  top: calc(15% - 20px);
  padding: 20px;
  border-radius: 15px;
  background-color: #ffffff;
  z-index: 30;
  overflow: auto;
}

#caixaDeDialogo ul li{
  display: inline-block;
  margin-right: 20px;
}

.col{
  float: left;
  width: 32%;
  height: 300px;
  //background-color: red;
  margin-right: 1.33%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.limpar{clear:both;}
.is-hidden {display: none;}

.chart{
  width: 100%;
  height: auto;
}
#atendimentoAgua{ }
#coletaEsgoto{ }
#tratamentoEsgoto{ }